


.accordionItemButton {
    font-size: 24px;
    padding: 14px 10px;
}

.toggleContent {
    display: flex;
    align-items: center;
    cursor: pointer;
    justify-content: space-between;
}

.toggleContent div {
    font-weight: 500;
    padding: 16px 10px 10px 16px;
}

.slider {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
.sliderImages {
    max-width: 57rem;
}

.arrow-left {
    position: 'absolute';
    left: '-40px';
    top: '50%';
    transform: 'translateY(-50%)';
  }
  
  .arrow-right {
    position: 'absolute';
    right: '-40px';
    top: '50%';
    transform: 'translateY(-50%)';
  }
  

@media (max-width: 480px) {
    .accordionItemButton {
        font-size: 18px;
        padding: 12px 8px;
    }
  }